In [1]:
!pip install pandas
!pip install -U scikit-learn

Requirement already satisfied: pandas in d:\projetos\estudos\titanic\venv\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in d:\projetos\estudos\titanic\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in d:\projetos\estudos\titanic\venv\lib\site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in d:\projetos\estudos\titanic\venv\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in d:\projetos\estudos\titanic\venv\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in d:\projetos\estudos\titanic\venv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\projetos\estudos\titanic\venv\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

C:\Users\user\AppData\Local\Temp\ipykernel_16956\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df_titanic = pd.read_csv(r'data/train.csv', sep=',')

In [4]:
df_titanic = df_titanic.drop('Name', axis=1) # the name field was deleted out of respect for the victims
df_titanic = df_titanic.drop('Cabin', axis=1)
df_titanic = df_titanic.drop('Ticket', axis=1)
df_titanic = df_titanic.drop('PassengerId', axis=1)
df_titanic = df_titanic.drop('Fare', axis=1)
df_titanic = df_titanic.drop('Embarked', axis=1)
df_titanic = df_titanic.drop('SibSp', axis=1)
df_titanic = df_titanic.drop('Parch', axis=1)
df_titanic.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [5]:
array_genders = list(df_titanic.Sex.unique())
max_age = df_titanic['Age'].max()
df_titanic['gender'] = df_titanic['Sex'].apply(lambda x: array_genders.index(x) if True else np.NaN)
df_titanic['normalized_age'] = df_titanic['Age'] / max_age
df_titanic['normalized_class'] = df_titanic['Pclass'] / 3
df_titanic['max_age'] = max_age

In [6]:
df_titanic.head()

,Survived,Pclass,Sex,Age,gender,normalized_age,normalized_class,max_age
0,0,3,male,22.0,0,0.2750,1.000000,80.0
1,1,1,female,38.0,1,0.4750,0.333333,80.0
2,1,3,female,26.0,1,0.3250,1.000000,80.0
3,1,1,female,35.0,1,0.4375,0.333333,80.0
4,0,3,male,35.0,0,0.4375,1.000000,80.0

In [7]:
list(df_titanic.Sex.unique()).index('male')

0

In [8]:
df_titanic = df_titanic.drop('Sex', axis=1)

In [9]:
df_titanic.head()

   Survived  Pclass   Age  gender  normalized_age  normalized_class  max_age
0         0       3  22.0       0          0.2750          1.000000     80.0
1         1       1  38.0       1          0.4750          0.333333     80.0
2         1       3  26.0       1          0.3250          1.000000     80.0
3         1       1  35.0       1          0.4375          0.333333     80.0
4         0       3  35.0       0          0.4375          1.000000     80.0

In [19]:
df_titanic.shape

(891, 7)

In [21]:
df_titanic = df_titanic.dropna()
df_titanic.shape

(714, 7)

In [39]:
from sklearn import tree, svm
from sklearn.model_selection import train_test_split

In [27]:
y = df_titanic['Survived']
X = df_titanic[['gender', 'normalized_age', 'normalized_class', 'max_age']]

In [37]:
>>> X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [29]:
clf = tree.DecisionTreeClassifier()

In [30]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7727272727272727

In [33]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, CategoricalNB

clf = GaussianNB()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7832167832167832

In [34]:
clf = BernoulliNB()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7797202797202797

In [43]:
clf = svm.SVC()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6013986013986014

In [44]:
from sklearn.linear_model import SGDClassifier

In [57]:
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)

In [60]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

D:\Projetos\Estudos\Titanic\venv\Lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:723: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

0.8076923076923077

In [69]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2))

In [70]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6013986013986014