In [81]:
!pip install pandas
!pip install -U scikit-learn

Requirement already satisfied: pandas in d:\projetos\estudos\titanic\venv\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in d:\projetos\estudos\titanic\venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in d:\projetos\estudos\titanic\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/a8/e9/3e4879974a7c4dcaca2a746dde3df08d0ae8f14c74b03591616ce5f0a8b1/scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl.metadata
  Using cached scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in d:\projetos\estudos\titanic\venv\lib\site-packages (from scikit-learn) (1.26.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Obtaining dependency information for scipy>=1.6.0 from https://files.pythonhosted.org/packages/9a/25/5b30cb3efc9566f0ebeaeca1976150316353c17031ad7868ef46de5ab8dc/scipy-1.12.0-cp311-cp311-win_amd64.whl.metadata
  Using cached scipy-1.12.0-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Obtaining dependency information for joblib>=1.2.0 from https://files.pythonhosted.org/packages/10/40/d551139c85db202f1f384ba8bcf96aca2f329440a844f924c8a0040b6d02/joblib-1.3.2-py3-none-any.whl.metadata
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Using cached scikit_learn-1.4.0-1-cp311-cp311-win_amd64.whl (10.6 MB)
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Using cached scipy-1.12.0-cp311-cp311-win_amd64.whl (46.2 MB)
Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 scipy-1.12.0 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [118]:
import pandas as pd
import numpy as np

In [111]:
df_titanic = pd.read_csv(r'data/train.csv', sep=',')

In [112]:
df_titanic = df_titanic.drop('Name', axis=1) # the name field was deleted out of respect for the victims
df_titanic = df_titanic.drop('Cabin', axis=1)
df_titanic = df_titanic.drop('Ticket', axis=1)
df_titanic = df_titanic.drop('PassengerId', axis=1)
df_titanic = df_titanic.drop('Fare', axis=1)
df_titanic = df_titanic.drop('Embarked', axis=1)
df_titanic = df_titanic.drop('SibSp', axis=1)
df_titanic = df_titanic.drop('Parch', axis=1)
df_titanic.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [113]:
array_genders = list(df_titanic.Sex.unique())
max_age = df_titanic['Age'].max()
df_titanic['gender'] = df_titanic['Sex'].apply(lambda x: array_genders.index(x) if True else np.NaN)
df_titanic['normalized_age'] = df_titanic['Age'] / max_age
df_titanic['normalized_class'] = df_titanic['Pclass'] / 3
df_titanic['max_age'] = max_age

In [114]:
df_titanic.head()

,Survived,Pclass,Sex,Age,gender,normalized_age,normalized_class,max_age
0,0,3,male,22.0,0,0.2750,1.000000,80.0
1,1,1,female,38.0,1,0.4750,0.333333,80.0
2,1,3,female,26.0,1,0.3250,1.000000,80.0
3,1,1,female,35.0,1,0.4375,0.333333,80.0
4,0,3,male,35.0,0,0.4375,1.000000,80.0

In [115]:
list(df_titanic.Sex.unique()).index('male')

0

In [116]:
df_titanic = df_titanic.drop('Sex', axis=1)

In [117]:
df_titanic.head()

   Survived  Pclass   Age  gender  normalized_age  normalized_class  max_age
0         0       3  22.0       0          0.2750          1.000000     80.0
1         1       1  38.0       1          0.4750          0.333333     80.0
2         1       3  26.0       1          0.3250          1.000000     80.0
3         1       1  35.0       1          0.4375          0.333333     80.0
4         0       3  35.0       0          0.4375          1.000000     80.0

In [121]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [127]:
y = df_titanic['Survived']
X = df_titanic[['gender', 'normalized_age', 'normalized_class', 'max_age']]

In [136]:
>>> X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)